<div id="dual_x_div" style="height: 400px;"></div>
<%# binding.pry %>
<script>

 google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
      	var array = <%= raw @data %>;
        var data = new google.visualization.arrayToDataTable(array);

        var options = {
          width: 500,
          chart: {
            title: 'User Interaction with the App',
            subtitle: 'no of fetch on the left, no of clicks on the right'
          },
          bars: 'horizontal', // Required for Material Bar Charts.
          series: {
            0: { axis: 'fetch' }, // Bind series 0 to an axis named 'distance'.
            1: { axis: 'click' } // Bind series 1 to an axis named 'brightness'.
          },
          axes: {
            x: {
              distance: {label: 'parsecs'}, // Bottom x-axis.
              brightness: {side: 'top', label: 'apparent magnitude'} // Top x-axis.
            }
          }
        };

      var chart = new google.charts.Bar(document.getElementById('dual_x_div'));
      chart.draw(data, options);
    };

</script>