<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Hello <%= current_user.name %>!</h1>
            <div class="wrapper">
                <div class="container-fluid">
                    <div class="well">
                        <div class="col-lg-12">
                            <div class="image col-lg-6 pull-left"> 
                                <img class="img-responsive" src="<%= asset_path('logo') %>" alt="Chania">
                            </div>
                            <div class="col-lg-6 pull-right">
                            <br><br><br><br>
                                <p class="lead" style="text-align: justify;"> Welcome to the Beacon Management Portal where we bring the deals to you. This software is used to manage beacons with the latest advertisements and deals based on different categories and stores. </p>
                            </div>                            
                        </div>
                        
                    </div>
                    
                </div>
            </div>
		</div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="embed-responsive embed-responsive-16by9" >
                <center><iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe></center>
            </div>
        </div>
        
    </div>

</div>