<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <%= render "shared/flash_message" %>
      <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Top Row with Charts -->
          	<h1 class="page-header" id="k"> Edit Beacon </h1>
            <div class="well">
          	   <%= render "form" %>
            </div>
		    </div>
      </div>
    </div>
  </div>
</div>
