<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header" id="k">Add Store</h1>
      <%= render "shared/flash_message" %>
      <div class="container-fluid">
  			<div class="well">
  			  	<%= render "form" %>
  			</div>
  		</div>
    </div>
  </div>
</div>