<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= dashboard_path %>">Beaconoid</a>
</div>
<!-- Top Menu Items -->
<ul class="nav navbar-right top-nav">

  <% if user_signed_in? %>
      <p style="float: left; color: white; margin-top: 15px; font-weight: bold;"> Welcome <%= current_user.name %> </p>
      <li><a href="<%= destroy_user_session_path %>" data-method="delete"> <i class="fa fa-fw fa-power-off"></i> Logout</a></li>
  <% end %>
</ul>

