<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">Beacon Web Portal</a>
</div>
<!-- Top Menu Items -->
<ul class="nav navbar-right top-nav">
  <% if user_signed_in? %>
      <li><a href="<%= destroy_user_session_path %>" data-method="delete"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
  <% end %>
</ul>

