// Place all the styles related to the Advertisement controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#ads-container {
  margin-top: 10%;
  width: 400px;
  background-color: brown;
}

.carousel-inner > {
  .item > {
    img, a > img {
      margin: auto;
      position: relative;
    }
    h1 {
      font-size: 300%;
      float: right;
      margin-bottom: 40px;
      color: white;
      text-align: center;
      position: relative;
      font-family: 'Luckiest Guy', cursive;
    }
  }
  #desc > h1 {
    width: 400px;
    height: 450px;
    background-image: image-url("deli.jpg");
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), image-url("deli.jpg");
    background-repeat: no-repeat;
    vertical-align: middle;
    line-height: 80px;
    color: white;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
  }
}