// Place all the styles related to the Advertisement controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#edit_advertisement_1 {
  
width: 50%;
float: left;  
}

.well {
  float: left;
  width: 100%;
}

#page-wrapper {
  float: left;
}

 

.view-advertisement {
  float: right;
  width: 45%;
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
  margin-left: 5%;
  background-image: url("ad.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

#sale {
	margin-top: 20px;
	text-decoration: underline;
}

.image {

  text-align: center;
  font-size: 250%;
  //margin: 5%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5%;

}