<h1>New Category</h1>
<div class="well">
	<% if flash[:message].present? %>
       <div data-alert class="alert-box">
    	   <strong><%= flash[:message] %></strong>
    	</div>
  	<% end %>
  	<%= render "form" %>
</div>